{% extends 'bootstrap/base.html' %}
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Kalculi</title>
      {% else %}
      <title>Kaliculi</title>
      {% endif %}
    </head>
    <body>
        <h1>It Works!</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div>Kalculi <a href="/index">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>