{% extends 'bootstrap/base.html' %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html,body{
            font-family: monospace;
        }
    </style>
    <nav class="navbar navbar-light bg-light" style='background:black; border-radius:0px'>
        <a class="navbar-brand" href="/">Kalculi</a>
    </nav>
    <div class = 'container'>
    <div class = 'col-4'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
        <br>
    {% endif %}
    {% endwith %}
    <h1>{{title}}</h1>
    <form action = '' method = 'post' novalidate>
    {% for field in fields %}
    <div class='form-group'>
        <input type = text class = "form-control" name = '{{field}}' placeholder="{{field}}">
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
    <br>
    <p style='background:rgb(245,245,245);font-size:20px'>{{ answer|safe }}</p>
    </div></div>
{% endblock %}