{% extends 'bootstrap/base.html' %}
{% block content %}
    <script src="https://unpkg.com/mathjs@6.2.5/dist/math.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html,body{
            font-family: monospace;
        }
    </style>
    <nav class="navbar navbar-light bg-light" style='background:black; border-radius:0px'>
        <a class="navbar-brand" href="/">Kalculi</a>
    </nav>
    <div class = 'container'>
    <div class = 'col-4'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
        <br>
    {% endif %}
    {% endwith %}
    <h1>{{title}}</h1>
    <form action = '' method = 'post' novalidate>
    {% for field in fields %}
    <div class='form-group'>
        <input type = text class = "form-control" name = '{{field}}' placeholder="{{field}}">
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
    <br>
    <p style='background:rgb(245,245,245);font-size:20px'>{{ answer|safe }}</p>
    {% if graph %}
    <div id="plot" style='background:rgb(245,245,245)'></div>
    <script>
        function draw() {
            try {
            // compile the expression once
            const expression = '{{ exp|safe }}'
            const expr = math.compile(expression)

            // evaluate the expression repeatedly for different values of x
            const xValues = math.range(-50, 10, 0.1).toArray()
            const yValues = xValues.map(function (x) {
                return expr.evaluate({x: x})
            })

            // render the plot using plotly
            const trace1 = {
                x: xValues,
                y: yValues,
                type: 'scatter'
            }
            var layout = {
                title: 'Output',
                font: {size: 13}
                };
            const data = [trace1]
            Plotly.newPlot('plot', data, layout, {responsive: true});
            }
            catch (err) {
            console.error(err)
            alert(err)
            }
        }
        draw()
    </script>
    {% endif %}
    </div></div>
{% endblock %}
